extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        
        h1 Susan Hart 

        
        p.lead.text-light
          | Full Stack JavaScript Developer.

        
        .portfolio-bio
          p
            I I am currently a Full Stack JavaScript program student at Team Treehouse.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Front end and back end coding experience with JavaScript.

        
        ul
          li Express
          li Node.js
          li jQuery
          li JavaScript
          li HTML 
          li CSS
        h6 Contact Info

        
        ul
          li 617-921-8571
          li susanhartesquire@yahoo.com

        
        a.button.expanded(href='https://www.linkedin.com/in/suhart/' target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/susanhart' target="_blank") GitHub
    
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  